/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body{
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  background-color: #fff;
  color: #333;
}


.flash-message{
  width: 464px;
  height: 28px;
  font-size: 12px;
  margin: -7px -7px 0px;
  padding: 5px 5px 5px 15px;
  color: #FFFFFF;
  background-color: #CC0000
}

.error{
  padding-left: 10px;
}

.show-notice{
  margin: 33px;
  color: #008000;
}

.show-p{
  margin: 33px;
}

.Newbook{
  margin: 16.185px 0;
}

.page-title{
  margin: 17.42px 0;
}

.table-head{
  padding: 1px 1px 5px;
}

.table-box{
  padding: 1px 5px 7px;
}

.field{
  padding: 0 0 10px;
}

.form{
  padding: 0 0 10px;
}

.action{
  margin: 0 0 10px;
}